<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <style>
        body
        {
           background-color: azure;
        }
  
      </style>
</head>
<body>
    <h3>Add book</h3>
    <form action="/addbook" method="Post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Title :</td>
                <td><input type="text" name="title"></td>
            </tr>

            <tr>
                <td>Author:</td>
                <td><input type="text" name="author"></td>
            </tr>

            <tr>
                <td>Price :</td>
                <td><input type="text" name="price"></td>
            </tr>

            <tr>
                
                <td colspan="2"><input type="submit" value="Add Book" ></td>
            </tr>

        </table>

    </form>
</body>
</html>